*::after,
*::before,
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  background: #131116;
  color: #ffffff;
}

.header {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #ffffff;
}

.wrapper {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding: 110px 0;
}
